.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
}

.hotel-landing-page strong {
  color: var(--bs-dark);
}

@media (max-width: 576px) {
  .available-rooms-list {
    columns: 1;
  }
}

@media (min-width: 576px) {
  .available-rooms-list {
    columns: 2;
  }
}

@media (min-width: 992px) {
  .available-rooms-list {
    columns: 3;
  }
}
