.booking-table-cell-container {
  min-width: 120px;
}

.booking-table-cell-text {
  display: inline-block; /* Ensures transform works properly */
  transition: transform 0.3s ease; /* Smooth transition */
}

.booking-table-cell-container:hover {
  background-color: var(--bs-info-bg-subtle);
}

.booking-table-cell-container:hover .booking-table-cell-text {
  transform: scale(1.1); /* Scales child to 1.1 on parent hover */
}

.date-row-label {
  min-width: 200px;
  max-width: 200px;
  font-weight: bold;
  position: sticky;
  left: 0;
  background: #f8f9fa;
  text-align: center;
}

.bookings-table-container {
  overflow: auto;
  max-height: 600px;
  position: relative;
}

.booked-cell:hover {
  color: var(--bs-green) !important;
}
