/* Target the FontAwesome question mark icon */
.question-icon {
  transition: transform 1s ease-in-out; /* Smooth transition for all transforms */
}

.question-icon:hover {
  transform: rotateY(360deg); /* Scale up and rotate on X-axis */
}

.question-icon-container {
  padding: 0.25rem;
  margin-left: 0.5rem;
  display: inline;
  cursor: pointer;
}
