.calendar-cell.has-value {
  color: var(--bs-success-text-emphasis) !important;
  position: relative;
}
.calendar-cell.has-value:hover {
  color: var(--bs-primary) !important;
  border: 1px solid var(--bs-primary) !important;
}

.calendar-cell.has-value:hover::before {
  content: attr(data-booking-id);
  position: absolute;
  top: -1em;
  background-color: var(--bs-dark);
  color: white;
  padding: 2px 6px;
  font-size: 0.75rem;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1;
}

.calendar-cell.has-value.is-active::before {
  content: attr(data-booking-id);
  position: absolute;
  top: -1em;
  background-color: var(--bs-dark);
  color: white;
  padding: 2px 6px;
  font-size: 0.75rem;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1;
}

.bg-analogous-1 {
  background-color: hsla(200, 80%, 85%, 0.8) !important;
}

.bg-analogous-2 {
  background-color: hsla(150, 80%, 85%, 0.8) !important;
}

.bg-analogous-3 {
  background-color: hsla(100, 80%, 85%, 0.8) !important;
}

.bg-analogous-4 {
  background-color: hsla(50, 80%, 85%, 0.8) !important;
}
