.z-index-sticky {
  z-index: 1020;
}

.blur {
  box-shadow: inset 0px 0px 2px #fefefed1;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.border-radius-xl {
  border-radius: 0.75rem;
}

.navbar .nav-item {
  font-size: 0.9rem;
  font-weight: 500;
}

.navbar .dropdown-item {
  font-size: 0.875rem;
}

.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .dropdown-header {
  color: #344767;
}

.navbar .icon {
  opacity: 0.85;
  margin-right: 0.5rem;
}

.navbar .nav-link {
  text-transform: capitalize;
}

@media (max-width: 991.98px) {
  .navbar .dropdown-menu {
    margin-top: 0;
    max-height: 200px;
  }

  .down-arrow {
    margin-left: auto;
  }
}

@media (min-width: 991.98px) {
  .down-arrow {
    margin-left: 0.5rem;
  }

  .dropdown .dropdown-menu:before {
    font-family: "FontAwesome";
    content: "\f0d8";
    position: absolute;
    top: -1.25rem;
    left: 28px;
    right: auto;
    font-size: 22px;
    color: #fff;
    transition: top 0.35s ease;
  }

  .dropdown .dropdown-menu {
    margin-top: 1rem;
  }

  .dropdown-menu .hidden-box {
    position: absolute;
    top: -1.6rem;
    right: 0.1rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
