.table-calendar {
  height: calc(100vh - 200px);
  overflow-y: auto;
  will-change: scroll-position;
}

.booking-data-cell {
  white-space: nowrap;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-cell {
  min-width: 100px;
  max-width: 100px;
  vertical-align: middle;
}

.first-column {
  min-width: 80px;
  max-width: 80px;
}

.room-header {
  position: sticky;
  left: 0;
}

.dates-header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.date-header-text {
  position: sticky;
  left: 0;
  padding-left: 0.5rem;
}

.border-top-danger {
  border-top: 2px dashed var(--bs-danger) !important;
}

.cleaning-cell-booking-name {
  position: absolute;
  top: -0.7rem;
  left: 0;
  overflow-x: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
  max-width: inherit;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animation-rotate:hover .icon-rotate {
  animation: rotate 1s linear infinite;
}

@media (max-width: 600px) {
  th,
  td {
    font-size: 0.85em !important;
    padding: 0.5em !important;
  }
  .fw-bold {
    font-size: 1em;
  }

  .data-cell {
    min-width: 80px !important;
    max-width: 80px !important;
  }

  .data-cell-spinner {
    scale: 0.8;
  }
}
