.table-calendar {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.booking-data-cell {
  white-space: nowrap;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  th,
  td {
    font-size: 0.85em !important;
    padding: 0.5em !important;
  }
  .fw-bold {
    font-size: 1em;
  }

  th.date-header {
    min-width: 120px !important;
    max-width: 120px !important;
  }

  td.data-cell {
    min-width: 120px !important;
    max-width: 120px !important;
  }
}
